<div class="row accommodation-list">
  <h2>Obrigado</h2>
  <h3>Sua reserva foi solicitada com sucesso</h3>
  <div class="col-md-12">
    <p>Entraremos em contato, através do email</p>
    <p>CVC Viagens</p>
  </div>
</div>
