<section id="intro" class="intro-section type-title">
  <div class="container text-index">
      <div class="row">
          <div class="col-lg-12">
              <h1>Bem vindo a CVC!</h1>
              <h3><strong>Para saber mais sobre nossas acomodações,
                clique no link abaixo </strong>
              </h3>
              {{#link-to 'services' tagName="h1"}}<a href="">Hotéis</a>{{/link-to}}
          </div>
      </div>
  </div>
    {{spinner-airplane}}
</section>
