<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      {{#nav-link-to 'index' class="navbar-brand"}}CVC{{/nav-link-to}}
      {{#nav-link-to 'services' class="navbar-brand"}}Hoteis{{/nav-link-to}}
    </div>
  </div>
</nav>
